{% extends 'authapp/layout.html' %}
{% load staticfiles %}

{% block content %}
    <form class = "form-horizontal" action = "{% url 'auth:register' %}"
method = "post" enctype = "multipart/form-data" >
        {% csrf_token %}
        {{ register_form.as_p }}
        <br>
        <input class = "button-order" type = "submit" value = "зарегистрироваться">
    </form >
    <button class = "button-order" >
        <a href = "{% url 'auth:register' %}" class = "">
            зарегистрироваться
        </a>
    </button >
{% endblock %}